body {
    background-color: rgb(255, 255, 255);
  }

  .nav-link.active {
    color: rgb(0, 0, 0);
  }

  .nav-link {
    color: rgb(0, 0, 0);
  }
  
  .nav-item:nth-child(3) .nav-link {
    color: rgb(0, 0, 0);
  }

  .prompt-thin {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .prompt-medium {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .sarabun-thin {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .sarabun-regular {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .custom-font{
    font-size: 19px;
  }

  .custom-size-genre{
    font-size: 14px;
  }

  .custom-button {
    background-color: #184b75; /* เปลี่ยนเป็นสีที่คุณต้องการ */
    color: #ffffff; /* สีตัวอักษร */
    border: none; /* ไม่มีขอบ */
}

.custom-button:hover {
    background-color: rgb(60, 105, 143); /* สีพื้นหลังเมื่อวางเมาส์ */
    color: #ffffff; /* สีตัวอักษรเมื่อวางเมาส์ */
}

.page-link {
    color: black; /* เปลี่ยนสีตัวอักษรเป็นสีดำ */
}

.page-link:hover {
    color: #000000; /* เปลี่ยนสีเมื่อวางเมาส์ (สามารถปรับได้ตามต้องการ) */
}

.image-border {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.custom-color {
    color: #184b75;
}

.highlight {
        background-color: #184b75; /* เปลี่ยนเป็นสีที่คุณต้องการ */
    }

.border-box {
        border: 2px solid #b1b1b1; /* เปลี่ยนสีและขนาดของกรอบได้ */
        padding: 10px; /* เพิ่มช่องว่างภายในกรอบ */
        border-radius: 5px; /* ทำมุมกรอบให้มน */
        background-color: #f8f9fa; /* สีพื้นหลัง */
        margin: 10px 0; /* ช่องว่างด้านบนและด้านล่าง */
    }

/* Homepage-col-phone */
    .small-card {
      width: 150px; /* ขนาดความกว้างของ Card */
      margin: 10px; /* เพิ่ม margin รอบ ๆ Card */
  }

  /* สำหรับอุปกรณ์มือถือ */
  @media (max-width: 576px) {
      .horizontal-cards {
          display: flex; /* ใช้ flexbox เพื่อจัดเรียง Card ในแถวเดียวกัน */
          overflow-x: auto; /* ให้สามารถเลื่อน Card ได้ */
      }
  }

  .card-img-top-size {
    width: 300px; /* ขนาดความกว้างของรูปภาพ */
    height: 300px; /* ขนาดความสูงของรูปภาพ */
    object-fit: cover; /* ทำให้รูปภาพไม่บิดเบือน */
}

